<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.kermeta.utils.provisionner4eclipse.preferences.BundleProvisionnerPreferencePage"
            id="org.kermeta.utils.provisionner4eclipse.preferences.BundleProvisionnerPreferencePage"
            name="External bundle provisionner (Experimental)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kermeta.utils.provisionner4eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
	        point="org.eclipse.ui.startup">
	     <startup class="org.kermeta.utils.provisionner4eclipse.ProvisionnerEarlyStartup"/>
	</extension>

</plugin>
