<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.kermeta.utils.provisionner4eclipse.preferences.BundleProvisionnerPreferencePage"
            id="org.kermeta.utils.provisionner4eclipse.preferences.BundleProvisionnerPreferencePage"
            name="External bundle provisionner (Experimental)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kermeta.utils.provisionner4eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
	        point="org.eclipse.ui.startup">
	     <startup class="org.kermeta.utils.provisionner4eclipse.ProvisionnerEarlyStartup"/>
	</extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.inria.diverse.commons.provisionner4eclipse.commands.category"
            name="DiverSE Commons Category">
      </category>
      <command
            categoryId="fr.inria.diverse.commons.provisionner4eclipse.commands.category"
            id="fr.inria.diverse.commons.provisionner4eclipse.commands.ProvisionProjectCommand"
            name="ProvisionProject Command">
      </command>
      <command
            categoryId="fr.inria.diverse.commons.provisionner4eclipse.commands.category"
            id="fr.inria.diverse.commons.provisionner4eclipse.commands.UnprovisionProjectCommand"
            name="UnprovisionProject Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.inria.diverse.commons.provisionner4eclipse.handlers.ProvisionProjectHandler"
            commandId="fr.inria.diverse.commons.provisionner4eclipse.commands.ProvisionProjectCommand">
      </handler>
      <handler
            class="fr.inria.diverse.commons.provisionner4eclipse.handlers.UnprovisionProjectHandler"
            commandId="fr.inria.diverse.commons.provisionner4eclipse.commands.UnprovisionProjectCommand">
      </handler>
   </extension>
<!--   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.inria.diverse.commons.provisionner4eclipse.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="DiverSECommons.menu"
               label="DiverSE Commons">
            <command
                  commandId="fr.inria.diverse.commons.provisionner4eclipse.commands.ProvisionProjectCommand"
                  icon="icons/plugin_obj_run.gif"
                  label="Provision Project in current eclipse"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                        	<adapt
				                  type="org.eclipse.core.resources.IProject">
				               <test
				                     property="org.eclipse.core.resources.projectNature "
				                     value="org.eclipse.pde.PluginNature">
				               </test>
				            </adapt>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.inria.diverse.commons.provisionner4eclipse.commands.UnprovisionProjectCommand"
                  icon="icons/plugin_obj_stop.gif"
                  label="Unprovision Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <adapt
				                  type="org.eclipse.core.resources.IProject">
				               <test
				                     property="org.eclipse.core.resources.projectNature "
				                     value="org.eclipse.pde.PluginNature">
				               </test>
				            </adapt>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
        </menu>
   	  </menuContribution>
   </extension>

</plugin>
