<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- <requires>
      <import plugin="org.eclipse.core.resources" version="3.5.2"/>
   </requires> -->
   <extension
         id="Kermeta2ProblemMarker"
         name="Problem marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="kermeta2_marker">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="fr.inria.diverse.commons.eclipse.messagingsystem.ui.preferences.EclipseMessagingSystemPreferencePage"
            id="org.kermeta.utils.systemservices.eclipse.preferences.EclipseMessagingSystemPreferencePage"
            name="Kermeta messaging system">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.inria.diverse.commons.eclipse.messagingsystem.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
