<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxiesHandler"
            id="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxies" 
            name="CheckUnresolvedProxies">
      </command>
   </extension>  
   
   <!-- attempt to create a filter definition on emf files only -->
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="fr.inria.diverse.commons.eclipse.emf.emfFile">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.name" 
                     value="*.*"/>
               <or>
	               <test args="kindOf"	property="org.eclipse.core.resources.contentTypeId"
						value="org.eclipse.emf.ecore">
					</test>
					<test args="kindOf"	property="org.eclipse.core.resources.contentTypeId"
						value="org.eclipse.emf.ecore.xmi">
					</test>
					<test args="kindOf"	property="org.eclipse.core.resources.contentTypeId"
						value="org.eclipse.emf.compare.content.type">
					</test>
				</or>
            </adapt>
         </iterate>
      </definition>
   </extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="DiverSETools.menu"
               label="DiverSE Tools">
            <menu
                  id="EMFTools.menu"
                  label="EMF Tools">
               <command
                     commandId="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxies"
                     icon="images/EcoreModelFile.gif"
                     label="Check Unresolved Proxies"
                     style="push">
                     <visibleWhen checkEnabled="false">
		               <or>
		                  <with variable="activeMenuSelection">
		                     <reference definitionId="fr.inria.diverse.commons.eclipse.emf.emfFile"/>
		                  </with>
		                  <with variable="activeMenuEditorInput">
		                     <reference definitionId="fr.inria.diverse.commons.eclipse.emf.emfFile"/>
		                  </with>
		               </or>
		            </visibleWhen>
               </command>
            </menu>
		</menu>
	</menuContribution>
   </extension>	           

</plugin>
