<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxiesHandler"
            id="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxies" 
            name="CheckUnresolvedProxies">
      </command>
   </extension>   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="DiverSETools.menu"
               label="DiverSE Tools">
            <menu
                  id="EMFTools.menu"
                  label="EMF Tools">
               <command
                     commandId="fr.inria.diverse.commons.eclipse.emf.ui.commands.CheckUnresolvedProxies"
                     icon="images/EcoreModelFile.gif"
                     label="Check Unresolved Proxies"
                     style="push">
               </command>
            </menu>
		</menu>
	</menuContribution>
   </extension>	           

</plugin>
